@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;

}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

:root {
    --primary: #654321;
    --secondary: #765432;
    --dark: #543210;
    --light: #f0f8ff;
    --grey: #aaaaaa;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--secondary);
    opacity: 0.5; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--secondary);
    opacity: 0.5; /* Firefox */
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--secondary);
    opacity: 0.5; /* Firefox */
}

::-webkit-scrollbar {
    display: none;
}

.mx-auto {
    margin: 0 auto;
}

.p-absolute {
    position: absolute;
}

.p-relative {
    position: relative;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.fw-bold {
    font-weight: bold;
}

.d-block {
    display: block;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-muted {
    color: #a5aaaf;
}

.small {
    font-size: 0.8rem;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.container .card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    overflow: hidden;
    padding: 1rem;
}

.container .card .menu {
    width: 20%;
    height: 95%;
    border-radius: 1rem 0 0 1rem;
    background-color: var(--dark);
    color: var(--light);
    box-shadow: 0px 0px 10px 2px var(--light);
    transition: 0.3s ease-in-out;
    overflow: scroll;
}

.container .card .menu .menu-header {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    padding: 1.3rem 0 1.3rem 1.3rem;
    box-shadow: 2px 0 8px var(--light);
}

.container .card .menu .menu-header .menu-header-img {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 3px var(--secondary),
                0px 0px 6px 3px var(--light);
    transition: 0.3s ease-in-out;
    overflow: hidden;
}

.container .card .menu .menu-header .menu-header-title {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--light);
}

.container .card .menu .menu-body {
    width: 100%;
    margin-left: 1.3rem;
}

.container .card .menu .menu-body .menu-body-list {
    padding: 0.5rem 0;
}

.container .card .menu .menu-body .menu-body-list a {
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--grey);
    transition: all 0.3s ease-in-out;
}

.container .card .menu .menu-body .menu-body-list a:hover {
    color: var(--light);
    padding-left: 1rem;
}

.container .card .menu .menu-body .menu-body-list a:hover .badge {
    background-color: var(--light);
}

.container .card .menu .menu-body .menu-body-list a i {
    font-size: 1.3rem;
    margin-right: 0.7rem;
}

.container .card .menu .menu-body .menu-body-list a .badge {
    background-color: var(--grey);
    color: var(--dark);
    margin-left: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 0.65rem;
    padding: 0.05rem 0.2rem 0 0.2rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
}

.container .card .section {
    background-color: var(--light);
    width: 80%;
    height: 100%;
    border-radius: 1rem;
    padding: 0.5rem 0.8rem;
    overflow: scroll;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
    border: 0.5rem solid var(--light);
    transition: 0.3s ease-in-out;
}

.container .card .section #beranda {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.container .card .section #pesan {
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
}

.container .card .section #pesan .section-title {
    width: 100%;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: var(--dark);
}

.container .card .section #pesan .row {
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    gap: 2rem;
}

.container .card .section #pesan .row .column1 {
    width: 35%;
}

.container .card .section #pesan .row .column1 .pengirim {
    width: 100%;
    box-shadow: 0 0 8px 1px var(--dark);
    border-radius: 0.5rem;
    color: var(--dark);
    overflow: hidden;
}

.container .card .section #pesan .row .column1 .pengirim .list-pengirim {
    padding: 0.5rem 1rem;
    width: 100%;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid rgba(84, 50, 16,0.2);
}

.container .card .section #pesan .row .column1 .pengirim .list-pengirim:last-child {
    border: none;
}

.container .card .section #pesan .row .column1 .pengirim .list-pengirim .time {
    position: absolute;
    opacity: 0.5;
    top: 8px;
    right: 8px;
    font-size: 0.6rem;
    text-align: end;
}

.container .card .section #pesan .row .column2 {
    width: 65%;
}

.container .card .section #pesan .row .column2.pesan-display .info {
    width: 100%;
    height: 300px;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px 1px var(--dark);
    border-radius: 0.5rem;
    color: var(--light);
    background-color: var(--dark);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.container .card .section #pesan .row .column2.pesan-display .card-pesan {
    width: 100%;
    box-shadow: 0 0 8px 1px var(--dark);
    border-radius: 0.5rem;
    color: var(--dark);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.container .card .section #pesan .row .column2.pesan-display .card-pesan .card-pesan-header {
    width: 100%;
    padding: 0.8rem 1rem;
    border-bottom: 1px solid rgba(84, 50, 16,0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark);
    color: var(--light);
}

.container .card .section #pesan .row .column2.pesan-display .card-pesan .card-pesan-header .card-pesan-user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card .section #pesan .row .column2.pesan-display .card-pesan .card-pesan-header .card-pesan-user i {
    font-size: 2.2rem;
    margin-right: 0.5rem;
}

.container .card .section #pesan .row .column2.pesan-display .card-pesan .card-pesan-header .button-group {
    display: flex;
    gap: 1rem;
}

.container .card .section #pesan .row .column2.pesan-display .card-pesan .card-pesan-header button {
    background: transparent;
    color: var(--light);
    cursor: pointer;
}

.container .card .section #pesan .row .column2.pesan-display .card-pesan .card-pesan-header button i {
    font-size: 1.2rem;
}

.container .card .section #pesan .row .column2.pesan-display .card-pesan .card-pesan-header button i.bi-reply {
    font-size: 1.7rem;
}

.container .card .section #pesan .row .column2.pesan-display .card-pesan .card-pesan-body {
    padding: 1rem 1.5rem;
    transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: #f5f5f5;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    box-shadow: 0 0 8px 1px var(--dark);
}

table td,table th {
    padding: 1rem;
}

table thead tr {
    background:var(--dark);
    color: var(--light);
}

table tbody tr {
    height:100%;
}

table td,table th {
    text-align:left;
}

table td.c,table th.c {
    text-align:center;
}

table td.r,table th.r {
    text-align:right;
}

table td .small,table th .small {
    font-size: small;
}

.isipesan {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

tbody tr {
    font-size:15px;
    color:var(--dark);
    line-height:1.2;
    font-weight:unset
}

tbody tr:hover {
    color: var(--dark);
    background-color: var(--grey);
    cursor:pointer;
}

/* ANIMATION */
.animate-spin {
    animation: spin 2s infinite linear;
}

.animate-fading {
    background-color: var(--secondary);
    animation: fading 5s infinite;
}

.animate-opacity {
    animation: opac 5s;
}

.animate-top {
    position: relative;
    animation: animatetop 5s;
}

.animate-left {
    position: relative;
    animation: animateleft 5s;
}

.animate-right {
    position: relative;
    animation: animateright 5s;
}

.animate-bottom {
    position: relative;
    animation: animatebottom 5s;
}

.animate-zoom {
    animation: animatezoom 5s infinite;
}

@keyframes zoom {
    0% {
        content: "RUSLAN SAMUEL";
        scale: 1.5;
        color: var(--dark);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

@keyframes fading {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes opac {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes animateright {
    from {
        right :-300px;
        opacity :0
    }
    to {
        right :0;
        opacity:1;
    }
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0;
    }
    to {
        bottom: 0;
        opacity: 1;
    }
}

@keyframes animatezoom {
    0% {
        transform: scale(0);
    }
    25% {
        transform: scale(1)
    }
    90% {
        transform: scale(1)
    }
    100% {
        transform: scale(0);
    }
}

/* Tablet */
@media (max-width: 768px){
    html {
        font-size: 65%;
    }

    .container {
        width: 100%;
        height: 100vh;
        background-color: var(--primary);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .container .card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        overflow: hidden;
        padding: 1rem;
    }

    .container .card .menu {
        padding: 2rem 0;
        width: 90%;
        height: fit-content;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        border-radius: 1rem 1rem 0 0;
    }

    .container .card .section {
        width: 95%;
        height: 100%;
    }
}