/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form {
    background: linear-gradient(165deg, var(--secondary), var(--dark));
    width: 500px;
    justify-content: center;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4),
                -4px -4px 8px rgba(255,255,255, 0.2),
                inset -4px -4px 4px rgba(0, 0, 0, 0.4),
                inset 4px 4px 4px rgba(255,255,255, 0.2);
}

/* .form:hover {
    box-shadow: 0 0 60px 0 #ccc;
    transition: 0.4s;
    transform: scale(1.02);
} */

.row-one {
    padding: 30px 20px 15px 20px;
}

.row-two {
    padding: 15px 20px 30px 20px;
}

.text-input {
    color: var(--light);
    text-align: center;
    font-weight: bold;
    width: 60px;
    height: 30px;
    border-radius: 10px;
    background: linear-gradient(165deg, var(--dark), var(--secondary));
    border: none;
    outline: none;
    padding: 5px 10px;
    cursor: pointer;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.4),
                inset -2px -2px 4px rgba(255,255,255, 0.2);
}

.text-input:last-child {
    margin-bottom: 35px;
}

.text-input:hover {
    background-color: var(--primary);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4),
                -2px -2px 4px rgba(255,255,255, 0.2),
                inset 2px 2px 4px rgba(0, 0, 0, 0.4),
                inset -2px -2px 4px rgba(255,255,255, 0.2);
}

.text-input:focus {
    background-color: var(--primary);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4),
                -2px -2px 4px rgba(255,255,255, 0.2),
                inset 2px 2px 4px rgba(0, 0, 0, 0.4),
                inset -2px -2px 4px rgba(255,255,255, 0.2);
}

#submit {
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 140px;
    background: linear-gradient(165deg, var(--secondary), var(--dark));
    color: var(--light);
    font-weight: bold;
    margin: 2rem auto 0;
    display: block;
    outline: none;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4),
                -2px -2px 4px rgba(255,255,255, 0.2),
                inset -2px -2px 2px rgba(0, 0, 0, 0.4),
                inset 2px 2px 2px rgba(255,255,255, 0.2);
}

#submit:hover {
    color: var(--grey);
    background: linear-gradient(165deg, var(--dark), var(--secondary));
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.4),
                inset -2px -2px 4px rgba(255,255,255, 0.2);
}

.text {
    display: inline-block;
    margin: 5px 20px 5px 8px;
    color: var(--grey);
}

.container {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
}

.checkmark {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 3;
    left: 0;
    height: 30px;
    width: 30px;
    background: linear-gradient(165deg, var(--dark), var(--secondary));
    border-radius: 50px;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.4),
                inset -2px -2px 4px rgba(255,255,255, 0.2);
}

.container:hover input ~ .checkmark {
    background: linear-gradient(165deg, var(--secondary), var(--dark));
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4),
                -2px -2px 4px rgba(255,255,255, 0.2),
                inset -1px -1px 2px rgba(0, 0, 0, 0.4),
                inset 1px 1px 2px rgba(255,255,255, 0.2);
}

.container input:checked ~ .checkmark {
    background: linear-gradient(165deg, var(--secondary), var(--dark));
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4),
                -2px -2px 4px rgba(255,255,255, 0.2),
                inset -1px -1px 2px rgba(0, 0, 0, 0.4),
                inset 1px 1px 2px rgba(255,255,255, 0.2);
}

.h3 {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    padding: 15px;
    color: var(--grey);
}

.h3 b {
    font-size: 32px;
    font-weight: 700;
    color: var(--light);
}

.checkmark:after {
    content: '';
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    top: 7;
    width: 5px;
    height: 10px;
    border: solid var(--light);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}