.calculator {
    display: grid;
    grid-template-rows: minmax(80px, auto) repeat(5, 60px);
    grid-template-columns: repeat(4, 60px);
    justify-content: center;
    background-color: hsl(230, 6%, 20%);
    padding: 1.4rem;
    border-radius: 12px;
    gap: 0.7rem;
}

.calculator button {
    border: none;
    font-family: inherit;
    font-size: 1.3rem;
    font-weight: 500;
    color: aliceblue;
    background-color: hsl(230, 6%, 20%);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5),
                -2px -2px 4px rgba(255,255,255,0.3),
                inset -2px -2px 4px rgba(0,0,0,0.2),
                inset 2px 2px 4px rgba(255,255,255,0.1);
}

.calculator button:hover {
    box-shadow: inset 2px 2px 4px rgba(0,0,0,0.5),
                inset -2px -2px 4px rgba(255,255,255,0.3);
    color: hsl(0, 0%, 65%);color: hsl(0, 0%, 65%);
}

.span-2 {
    grid-column: span 2;
}

.calculator > .output {
    height: 6rem;
    font-size: 2rem;
    background-color: inherit;
    color: aliceblue;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    word-break: break-all;
    border-radius: inherit;
    margin-bottom: 8px;
    padding: 8px;
    overflow: scroll;
    box-shadow: inset 2px 2px 4px rgba(0,0,0,0.5),
                inset -2px -2px 4px rgba(255,255,255,0.3);
}

.output .prev-display {
    font-size: 1.3rem;
    font-weight: 400;
    color: hsl(0, 0%, 65%);
}