.container {
    background: linear-gradient(145deg, var(--secondary), var(--dark));
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    color: var(--light);
    width: 500px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.4),
                -4px -4px 8px rgba(255,255,255,0.2),
                inset -4px -4px 4px rgba(0,0,0,0.4),
                inset 4px 4px 4px rgba(255,255,255,0.2);
}

.container .img {
    animation: putar 5s infinite linear;
}

.container .img .bi.bi-hourglass-split {
    font-size: 3rem;
    animation: putar 2s infinite linear;
}

.container .coming-soon {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.5rem auto;
}

.container .text {
    margin: 0.5rem auto;
}

.container .timer-container {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container .timer-container .column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(145deg, var(--dark), var(--secondary));
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: inset 3px 3px 5px rgba(0,0,0,0.5),
                inset -3px -3px 5px rgba(255,255,255,0.2);
}

.container .timer-container .column span {
    color: var(--grey);
}

.container .timer-container .column .text-timer {
    color: var(--light);
    font-weight: bold;
    font-size: 2rem;
}

@keyframes putar {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}