.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player {
    width: 480px;
    padding: 36px;
    border-radius: 36px;
    background: var(--primary);
    box-shadow: 4px 4px 8px rgba(0,0,0,0.4),
                -4px -4px 8px rgba(255,255,255,0.2),
                inset -4px -4px 4px rgba(0,0,0,0.4),
                inset 4px 4px 4px rgba(255,255,255,0.2);
}

.player #playlist {
    display: flex;
    padding: 18px;
    height: 150px;
    border-radius: 18px;
    margin-bottom: 24px;
    background: var(--primary);
    overflow: scroll;
    flex-direction: column;
    gap: 18px;
    box-shadow: inset 4px 4px 4px rgba(0,0,0,0.4),
                inset -4px -4px 4px rgba(255,255,255,0.2);
}

.player #playlist .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(175deg, var(--secondary), var(--dark));
    border-radius: 10px;
    padding: 12px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4),
                -2px -2px 4px rgba(255,255,255,0.2),
                inset -2px -2px 2px rgba(0,0,0,0.4),
                inset 2px 2px 2px rgba(255,255,255,0.2);
    cursor: default;
}

.player #playlist .card:hover {
    background: linear-gradient(175deg, var(--dark), var(--secondary));
}

.player #playlist .song-title {
    color: var(--light);
    font-weight: bold;
}

.player #playlist .text-muted {
    color: var(--grey);
    font-size: small;
}

.player .music-name {
    color: var(--light);
    margin: 0;
    margin-bottom: 8px;
    text-align: center;
}

.player .music-author {
    margin: 0;
    color: var(--grey);
    text-align: center;
}

.player .player-progress {
    margin-top: 36px;
}

.player .player-progress .progress-values {
    display: flex;
    justify-content: space-between;
    color:var(--grey);
    font-size: 14px;
}

.player .player-progress progress {
    width: 100%;
    height: 5px;
    -webkit-appearance: none;
    appearance: none;
}

.player .player-progress progress::-webkit-progress-bar {
    background-color: var(--grey);
    border-radius: 3px;
}

.player .player-progress progress::-webkit-progress-value {
    background: linear-gradient(to right, #5232c1, #12ccd0);
    border-radius: 3px;
}

.player .player-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    gap: 32px;
}

.player .player-buttons .btn {
    font-size: 16px;
    width: 48px;
    height: 48px;
    color: var(--grey);
    background: linear-gradient(145deg, var(--secondary), var(--dark));
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.player .player-buttons .btn:hover {
    background: linear-gradient(145deg, var(--dark), var(--secondary));
}

.player .player-buttons .btn.btn-prev {
    box-shadow: 4px 4px 8px rgba(0,0,0,0.4),
                -4px -4px 8px rgba(255,255,255,0.2);
}

.player .player-buttons .btn.btn-prev i {
    display: inline-block;
    margin-top: 2px;
    margin-right: 2px;
}

.player .player-buttons .btn.btn-play {
    font-size: 36px;
    width: 76px;
    height: 76px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.4),
                -4px -4px 8px rgba(255,255,255,0.2);
}

.player .player-buttons .btn.btn-play i {
    display: inline-block;
    margin-top: 4px;
    margin-left: 2px;
    background: linear-gradient(to right, var(--dark), var(--light));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.player .player-buttons .btn.btn-next {
    box-shadow: 4px 4px 8px rgba(0,0,0,0.4),
                -4px -4px 8px rgba(255,255,255,0.2);
}

.player .player-buttons .btn.btn-next i {
    display: inline-block;
    margin-top: 2px;
    margin-left: 2px;
}

@media (max-width: 768px){
    .player {
        width: 100%;
    }

    .player .player-buttons .btn {
        width: 42px;
        height: 42px;
    }

    .player .player-buttons .btn.btn-play {
        width: 64px;
        height: 64px;
    }
}