.container {
    margin: 40px 0;
    width: 400px;
    padding: 10px 25px;
    background: linear-gradient(165deg, var(--secondary), var(--dark));
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.4),
                -4px -4px 8px rgba(255,255,255,0.2),
                inset -4px -4px 4px rgba(0,0,0,0.4),
                inset 4px 4px 4px rgba(255,255,255,0.2);
}
h2.title {
    text-align: center;
    font-size: 1.75rem;
    margin: 10px -5px;
    margin-bottom: 30px;
    color: var(--light);
}
.result {
    background: linear-gradient(165deg, var(--dark), var(--secondary));
    border-radius: 0.5rem;
    position: relative;
    width: 100%;
    height: 65px;
    overflow: hidden;
    box-shadow: inset 2px 2px 4px rgba(0,0,0,0.4),
                inset -2px -2px 4px rgba(255,255,255,0.2);
}
.result__info {
    position: absolute;
    bottom: 4px;
    color: var(--light);
    font-size: 0.8rem;
    transition: all 150ms ease-in-out;
    transform: translateY(200%);
    opacity: 0;
}
.result__info.right {
    right: 8px;
}
.result__info.left {
    left: 8px;
}
.result__viewbox {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    color: var(--light);
    text-align: center;
    line-height: 65px;
    font-weight: bold;
}
.result #copy-btn {
    /* position: absolute;
    top: var(--y);
    left: var(--x);
    width: 38px;
    height: 38px;
    background: var(--light);
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
    z-index: 2; */
}
.result #copy-btn:active {
    box-shadow: 0 0 0 200px rgba(255, 255, 255, 0.08);
}
.result:hover {
    #copy-btn {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.35);
    }
}
.field-title {
    position: absolute;
    top: -10px;
    left: 8px;
    transform: translateY(-50%);
    font-weight: 800;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-size: 0.65rem;
    pointer-events: none;
    user-select: none;
}
.options {
    width: 100%;
    height: auto;
    margin: 50px 0;
}
.range__slider {
    position: relative;
    width: 100%;
    /* height: calc(#{65px} - 10px); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--secondary);
    border-radius: 8px;
    margin: 30px 0;
}
.range__slider::before,
.range__slider::after {
    position: absolute;
    color: var(--light);
    font-size: 0.9rem;
    font-weight: bold;
}
.range__slider::before {
    content: attr(data-min);
    left: 10px;
}
.range__slider::after {
    content: attr(data-max);
    right: 10px;
}
.range__slider .length__title::after {
    content: attr(data-length);
    position: absolute;
    right: -16px;
    font-variant-numeric: tabular-nums;
    color: var(--light);
}
#slider {
    -webkit-appearance: none;
    width: 100%;
    border-radius: 5px;
    background: var(--secondary);
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.settings {
    position: relative;
    widows: 100%;
    display: flex;
    flex-direction: column;
}

.setting {
    text-align: center;
    border-radius: 0.5rem;
    background: linear-gradient(165deg, var(--secondary), var(--dark));
    margin-bottom: 0.5rem;
    padding: 0.8rem;
    color: var(--grey);
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4),
                -2px -2px 4px rgba(255,255,255,0.2),
                inset -2px -2px 2px rgba(0,0,0,0.4),
                inset 2px 2px 2px rgba(255,255,255,0.2);
    cursor: pointer;
}

.setting input {
    cursor: pointer;
    display: none;
}

.setting label {
    cursor: pointer;
}

.setting input:checked ~ label {
    font-weight: bold;
    color: var(--light);
}

.btn.generate {
    user-select: none;
    /* position: relative; */
    width: 100%;
    height: 50px;
    margin: 1rem 0;
    border-radius: 8px;
    color: var(--light);
    border: none;
    background: linear-gradient(165deg, var(--secondary), var(--dark));
    letter-spacing: 0.3rem;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 150ms ease;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.4),
                -4px -4px 8px rgba(255,255,255,0.2),
                inset -4px -4px 4px rgba(0,0,0,0.4),
                inset 4px 4px 4px rgba(255,255,255,0.2);
}

.btn.generate:hover {
    color: var(--grey);
    background: linear-gradient(165deg, var(--dark), var(--secondary));
    box-shadow: inset 4px 4px 4px rgba(0,0,0,0.4),
                inset -4px -4px 4px rgba(255,255,255,0.2);
}

.support{
    position: fixed;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    display: flex;
}
a{
    margin: 0 20px;
    color: var(--light);
    font-size: 2rem;
    transition: all 400ms ease;
}
a:hover{
    color: #222;
}
.github-corner svg{
    position:absolute;
    right:0;
    top:0;
    mix-blend-mode:darken;
    color:#eeeeee;
    fill:#353535;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}
.github-corner:hover .octo-arm{
    animation:octocat-wave .56s;
}
@keyframes octocat-wave{
    0%, 100%{
        transform:rotate(0);
    }
    20%, 60%{
        transform:rotate(-20deg);
    }
    40%, 80%{
        transform:rotate(10deg);
    }
}