.wrapper {
    color: var(--light);
    position: absolute;
    width: 600px;
    padding: 25px;
    border-radius: 0.5rem;
    background: linear-gradient(145deg, var(--secondary), var(--dark));
    box-shadow: 4px 4px 8px rgba(0,0,0,0.4),
                -4px -4px 8px rgba(255,255,255,0.2),
                inset -4px -4px 4px rgba(0,0,0,0.4),
                inset 4px 4px 4px rgba(255,255,255,0.2);
}

.wrapper header {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.wrapper .form {
    margin: 15px auto;
}

.wrapper .form .row {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
}

.wrapper .form .row label {
    font-size: 18px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.wrapper .form .row textarea, select, button {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 0.5rem;
}

.wrapper .form .row textarea {
    color: var(--light);
    resize: none;
    height: 110px;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 0.5rem;
    background: linear-gradient(145deg, var(--secondary), var(--dark));
    box-shadow: inset 4px 4px 4px rgba(0,0,0,0.4),
    inset -4px -4px 4px rgba(255,255,255,0.2);
}

.wrapper .form .row select {
    color: var(--light);
    height: 48px;
    display: flex;
    padding: 0 10px;
    align-items: center;
    border-radius: 0.5rem;
    justify-content: center;
    background: linear-gradient(145deg, var(--secondary), var(--dark));
    background-color: var(--primary);
    box-shadow: inset 4px 4px 4px rgba(0,0,0,0.4),
    inset -4px -4px 4px rgba(255,255,255,0.2);
}

.wrapper .form .row select::-webkit-scrollbar {
    width: 8px;
}

.wrapper .form .row select::-webkit-scrollbar-track {
    background: var(--primary);
}

.wrapper .form .row select::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 0.5rem;
    border-right: 2px solid #ffffff;
}

.wrapper .form button {
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 0.5rem;
    background: linear-gradient(145deg, var(--secondary), var(--dark));
    box-shadow: 4px 4px 8px rgba(0,0,0,0.4),
                -4px -4px 8px rgba(255,255,255,0.2),
                inset -4px -4px 4px rgba(0,0,0,0.4),
                inset 4px 4px 4px rgba(255,255,255,0.2);
}

.wrapper .form button:hover {
    background: linear-gradient(145deg, var(--dark), var(--secondary));
    color: var(--grey);
    box-shadow: inset 4px 4px 4px rgba(0,0,0,0.4),
                inset -4px -4px 4px rgba(255,255,255,0.2);
}

.wrapper .form button i {
    font-size: 24px;
    margin-right: 5px;
}

@media(max-width: 600px){
    .wrapper {
        max-width: 400px;
        width: 100%;
    }
}