.wrapper {
    position: absolute;
    width: 600px;
    padding: 25px;
    border-radius: 8px;
    background-color: lightcyan;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3),
        -5px -5px 10px rgba(255,255,255,0.3);
}

.wrapper header {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.wrapper .form {
    margin: 15px auto;
}

.wrapper .form .row {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
}

.wrapper .form .row label {
    font-size: 18px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.wrapper .form .row textarea, select, button {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: lightcyan;
}

.wrapper .form .row textarea {
    resize: none;
    height: 110px;
    font-size: 15px;
    padding: 8px 10px;
    box-shadow: inset -5px -5px 10px rgba(255,255,255,0.8),
        inset 5px 5px 10px rgba(0,0,0,0.3),
        -5px -5px 10px rgba(255,255,255,0.8),
        5px 5px 10px rgba(0,0,0,0.3);
}

.wrapper .form .row .outer {
    height: 48px;
    display: flex;
    padding: 0 10px;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    box-shadow: inset -5px -5px 10px rgba(255,255,255,0.8),
        inset 5px 5px 10px rgba(0,0,0,0.3),
        -5px -5px 10px rgba(255,255,255,0.8),
        5px 5px 10px rgba(0,0,0,0.3);
}

.wrapper .form .row .outer select {
    font-size: 15px;
    background: none;
}

.wrapper .form .row .outer select::-webkit-scrollbar {
    width: 8px;
}

.wrapper .form .row .outer select::-webkit-scrollbar-track {
    background: #fff;
}

.wrapper .form .row .outer select::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
    border-right: 2px solid #ffffff;
}

.wrapper .form button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    background: lightcyan;
    transition: 0.3s ease;
    box-shadow: -5px -5px 10px rgba(255,255,255,0.8),
        5px 5px 10px rgba(0,0,0,0.3),
        inset 2px 2px 4px rgba(255,255,255,0.8),
        inset -2px -2px 4px rgba(0,0,0,0.3);
}

.wrapper .form button:hover {
    box-shadow: inset -5px -5px 10px rgba(255,255,255,0.8),
        inset 5px 5px 10px rgba(0,0,0,0.3);
}

.wrapper .form button i {
    font-size: 24px;
    margin-right: 5px;
}

@media(max-width: 600px){
    .wrapper {
        max-width: 400px;
        width: 100%;
    }
}